$color-main-bg: #282c3a;

$color-app-header: #181717;
$color-app-bg: rgb(40, 37, 53);
$color-scrollbar-track: #1e1e24;
$color-scrollbar-thumb: #6649b8;

$color-form-bg: rgb(24, 23, 23);
$color-form-btn-bg: rgb(56, 56, 143);
$color-input-bg: rgb(58, 58, 58);

$color-btn: #282c34;
$color-sent: #0b93f6;
$color-received: #e5e5ea;
