$off-white: #e0ffff;

// set text color based on bg color

@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return #333;
  } @else {
    @return #fff;
  }
}

// mixins

// set bg & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

// flex
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
